body{
	overflow: hidden;
}
canvas{
	height: 50%;
	width: 50%;
}
video{
	transform: rotateY(180deg);
	background-color: #000;
}
body{
	height: 90vh;
	text-align: center;
}
#videoIn{
	height: 80vh;
	width: 90vh;
}
#videoOut{
	height: 300px;
	width: 400px;
	position: fixed;
	top:50%;
	right: 10px;

}